<footer class="fixed bottom-0 left-0 w-full text-gray-400 text-center py-2 text-sm">
    <p>&copy; 2025 <span class="font-bold">22ktpm2_22127072_22127039_22127077</span>. All rights reserved.</p>
</footer>